.headerSuperior {
    background-color: rgba(58, 58, 58, 1);
    color: white;
}

.headerMedio    {
    background-color: black;
}

.headerMenu {
    background-color: rgb(2, 126, 180);
    color: white;
}

.sidebar1   {
    background-color: rgb(125, 4, 4);
    color: white;
}

.sidebar2   {
    background-color: rgb(177, 163, 0);
    color: white;
}

.principal1  {
    padding: 20px 10% 20px 10%;
}

.principal2    {
    padding: 20px 10% 20px 10%;
}

.piePrincipal   {
    background-color: rgba(58, 58, 58, 1);
    color: white;
}

.creditosPrincipal  {
    color: white;
}

.logo   {
    width: 150px;
}

.nav-link   {
    color: white;
    font-size: x-small;
    &:hover {
        color: white;
        text-decoration: underline;
    }
}

.imgNoticia {
    max-width: max-content;
    height: max-content;
}

.h4 {
    font-size: small;
}

.h3 {
    font-size: larger;
    text-align: center;
}

.p {
    font-size: x-small;
}

small   {
    font-size: xx-small;
}